.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .headear {
    /* height: 50px; */
    flex-shrink: 0;
 
    
  }
  
    .footer {
    /* height: 50px; */
    /* flex-shrink: 0; */
    /* background-color: #134c7d; */
  }
  
  .main {
    flex: 1 0 auto;
    margin-top: 40px;
  }
  
.footer-copyright {
   background: #222; padding: 5px 0;
  }
.footer-copyright p {
   color: #969696;
  }
