<div class="container-md">
    
    <HR ALIGN=CENTER WIDTH="90">
    <h1 style="color: #0F5C24;">CONTACTEZ-NOUS</h1> <br/><br/>
    <div class="row">
     
      <div class="col-sm-4">
        <img src="../../assets/img/The tiptop (5).png" class="image" alt="image3"  width="6%" height="6%" >
        <p class="text-justify">&nbsp; 2, rue de la mare huguet</p><br/>
        <img src="../../assets/img/phone.png" class="image" alt="image1" width="6%" height="6%">
        <p class="text-justify">&nbsp; 01 22 56 36 10</p><br/>
        <img src="../../assets/img/mail.png" class="image" alt="image2" width="6%" height="6%">
        <p class="text-justify">&nbsp; contact@thetiptop.com</p>
      </div>
      
      <div class="col-sm-6">
         <form action="">
          <h2>Formulaire de contact</h2><br/>
          <p class="text-justify" style="color: #0F5C24;"><i> N'hésitez pas à nous écrire pour plus d'informations</i></p>
          <label for="fname">Nom & prénom</label>
          <input type="text" id="fname" name="firstname" placeholder="Votre nom et prénom" aria-required="true" aria-invalid="true" >
      
          <label for="sujet">Sujet</label>
          <input type="text" id="sujet" name="sujet" placeholder="L'objet de votre message">
      
          <label for="emailAddress">Email</label>
          <input id="emailAddress" type="email" name="email" placeholder="Votre email">
           
          <label for="subject">Votre message</label>
          <textarea id="subject" name="subject" placeholder="Votre message" style="height:100px"></textarea>
      
          <input type="submit" value="Envoyer">
        </form>
        <br/><br/>
  </div>
  <div class="row">
    <iframe title="myFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.5525247575597!2d2.483887315853735!3d48.86674270807229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e61296ccb07f0f%3A0xfedc524b6127a91c!2s2%20Rue%20de%20la%20Mare%20Huguet%2C%2093110%20Rosny-sous-Bois!5e0!3m2!1sfr!2sfr!4v1653584452352!5m2!1sfr!2sfr" width="700" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</div>
   
</div><br/><br/>  