hr{
   color: hsl(120, 45%, 49%);
   border: solid;
   border-width: 3px;
  
}

h1{
    text-align: center;
    color: hsl(120, 45%, 30%);
}

.image{
    text-align: center;
}

h2{
    text-align: center;
    color: hsl(120, 45%, 49%);
}

.col-md-6{
    margin: 10px 50px 20px;
} 

h3{
    text-align: center;
    color: rgb(43, 146, 43);
}

.img-width {
    width: 100%;
}

