<div class="container-md">
   <HR ALIGN=CENTER >
    <h2 style="color: #0F5C24;">La maison Thétiptop</h2>
    <div class="image">
      <img src="../../assets/img/logo1.png" alt="logo1" width="5%" height="5%">
    </div>
    <h3 style="color: #0F5C24;">Notre Histoire</h3> <br/>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/teachamp.jpg" width="80%" height="90%" alt="teachamp">
      </div>
      <div class="col-md-4">
        <h4><i>«La vie est comme une tasse de thé, tout est dans la façon de la préparer»</i></h4>
        <p class="text-justify">C’est avec cette citation entendue pendant un magnifique voyage en Asie (en Chine) avec plein de saveurs, d’émotions, de mélange de cultures et de
           traditions que deux meilleures amies Clara et Erika originaire de Paris, passionnée par l’univers du thé, longtemps après avoir confectionné leurs propres 
           mélanges de thés dans leur petit atelier, qu’elles ont décidé de faire naître leur projet, la création de leur marque ThéTipTop en France dans leur ville d’origine 
           à Paris en 2015.</p>
           <p class="text-justify">ThéTipTop transmet à travers ces gammes de thés de très grande qualité les émotions sensorielles, les saveurs, les inspirations que Clara et Erika ont eu pendant leur voyage.</p>
      </div>
    </div>
    <HR ALIGN=CENTER >
      <div class="image">
        <img src="../../assets/img/logo1.png" alt="logo2" width="5%" height="5%">
      </div>
      <h3 style="color: #0F5C24;">Notre Objectif</h3>
      <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10"> 
         <h4> <i>Vous offrir les meilleures recettes de thé et d'infusions 100% BIO, HANDMADE & de haute haute qualité pour vous satisfaire !</i></h4>
        </div>
         <div class="col-md-1"></div> 
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/img/tea5 (2).png" width="80%" height="90%" alt="tea">
        </div> 
        <div class="col-md-4">
              <p class="text-justify">L’activité principale de ThéTipTop est de promouvoir et vendre ces gammes de thés handmade.</p>
              <p class="text-justify">ThéTipTop détient des thés de très grande qualité avec des mélanges signature de l’entreprise.</p>
              <p class="text-justify">ThéTipTop est propriétaire d’une usine en région parisienne et gère depuis cette usine la gestion, la réception de la matière première et procède 
              à la transformation, la création des produits et à l’expédition des commandes.</p>
        </div>
      </div>
      <HR ALIGN=CENTER >
        <div class="image">
          <img src="../../assets/img/logo1.png" alt="logo3" width="5%" height="5%">
        </div>
        <h3 style="color: #0F5C24;">Nos engagements</h3>
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/img/teachamp2.jpg" width="80%" height="90%" alt="engag">
          </div>
          <div class="col-md-4">
          
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" aria-progressbar-name="un"> ÉCOLOGIQUE 80%</div>
            </div> <br/>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-progressbar-name="deux">QUALITÉ 100%</div>
            </div><br/>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90" aria-progressbar-name="trois">HANDMADE 90%</div>
            </div> <br/>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-progressbar-name="quatre"></div>
            </div>
          </div>
        </div>

</div>   