<!-- <div class="row">
    <div class="col-md-3">
<ul>
    <li><h6 class="dropdown-header">Option</h6></li>
    <li><a class="dropdown-item btn" (click)="addTicket()">Création des tickets</a></li>
    <li><a class="dropdown-item btn" (click)="showAllticket()">Statistiques</a></li>
    <li><a class="dropdown-item btn" (click)="showLots()">Afficher les lots</a></li>
    <li><a class="dropdown-item btn" (click)="showUser()">Gestion des utilisateurs</a></li>
  </ul>
</div>
<div class="col-md-9">
    <app-details-lots *ngIf="detailsLots"></app-details-lots>
    <app-add-ticket *ngIf="generateTicket"></app-add-ticket>
    <app-statistque-ticket *ngIf="allticket"></app-statistque-ticket>
    <app-gestion-role *ngIf="role"></app-gestion-role>
    <app-gestion-utilisateur *ngIf="user"></app-gestion-utilisateur>
</div>
</div> -->


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitre}}</h4>
      <button name="closse" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formLot">
        <div class="form-group">
          <label >Nom lot</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="nomLot">
          </div>
        </div>
        <div class="form-group">
          <label >Description lot</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="descriptionRole">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button name="ajouter" type="button" class="btn btn-outline-success" (click)="ajoutOrModifierLot('modifier')">Enregistrer</button>
      <button name="annuler" type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Annuler</button>
    </div>
  </ng-template>


<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" >
    <a class="navbar-brand" href="/admin">Admin</a>
    <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 float-" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button> -->
    <ul class="navbar-nav d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        
                <a class="dropdown-item" (click)="deconnexion()">Déconnexion</a>
            </div>
        </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link btn" (click)="showAllticket()">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Options</div>
                    
                    <a class="nav-link btn" (click)="addTicket()">
                        <div class="sb-nav-link-icon"><i class="bi bi-ticket-detailed"></i></div>
                        Création des tickets 
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="sb-nav-link-icon"><i class="bi bi-journal-text"></i></div>
                          Lots
                        </a>
                        <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" (click)="showLots()">Afficher tous les lots</a>
                          <a class="dropdown-item" (click)="openModalLot(content, 'ajout')">Ajout nouveau lot</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                      <a class="nav-link btn" (click)="showUser()">
                          <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                          Gestion des utilisateurs
                      </a>
                      </li>
                    
                </div>
            </div>
            
            <div class="sb-sidenav-footer">
                <div class="small">Connecter au tant qu':</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                
                <app-add-ticket *ngIf="generateTicket"></app-add-ticket>
               <app-statistque-ticket *ngIf="allticket"></app-statistque-ticket>
                <app-gestion-utilisateur *ngIf="user"></app-gestion-utilisateur>
                <app-details-lots *ngIf="detailsLots"></app-details-lots>
            </div>
        </main>
    </div>
  </div>