
<ngb-carousel [interval]="3000">
    <ng-template ngbSlide>
      <div class="card bg-white text-white">
         <img src="../../assets/img/jeuu.webp" alt="Random first slide" style="width: 100%; height: 75vh">
       
      </div>
      <div class="carousel-caption">
        <h3>Nos thés de qualité faits pour vous.</h3>
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="card bg-white text-white">
        <img src="../../assets/img/lemon-tea-wallpaper-preview.webp"   alt="Random second slide" style="width: 100%; height: 75vh">
      </div>
      <div class="carousel-caption">
        <h3 style="color: black;">Maison de thé bio d’exception 100% française</h3>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="card bg-white text-white">
        <img src="../../assets/img/the_nice.webp" alt="Random second slide" style="width: 100%; height: 75vh">

      </div>
      <div class="carousel-caption">
        <!-- <h3>La touche ThéTipTop : le goût de la nature</h3> -->
      </div>
    </ng-template>
  </ngb-carousel>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <p><i> Vous avez un <b>ticket de caisse ou une facture supérieure à 49€ ?</b></i> &nbsp; <a class="btn btn-success btn-lg" href="login">Participer au jeu concours</a></p> 
      </div>  
    </div><br/>
    <div>
      <h3 class="style">NOS PRODUITS</h3> <br/>
      <div class="row">
      <div class="col-md-3">
          <p class="text-justify"> Thé gourmand aux saveurs d'ananas et d'autres fruits </p>
          <img src="../../assets/img/TheBioNoir4.webp" alt="thebio" width="55%" height="75%">
      </div>
      <div class="col-md-3">
          <p class="text-justify">Thé exotic à base de coco et d'autres fruits</p>
          <img src="../../assets/img/TheBioNoir6.webp" alt="thevert" width="55%" height="75%">
      </div>

      <div class="col-md-3">
        <p class="text-justify">Thé parfum frais et fleuri évoquant la fleur de cerisier </p>
        <img src="../../assets/img/TheBioNoir8.webp" alt="therouge" width="55%" height="75%">
    </div>

    <div class="col-md-3">
      <p class="text-justify">Thé vert parfumé au gingmebre et à la cannelle</p>
      <img src="../../assets/img/TheBioNoir9.webp" alt="thee" width="55%" height="75%">
    </div>

    </div>
  </div>
  </div><br/>

