<div class="container"><br/><br/><br/>
    <h1>Mentions légales de ThéTipTop</h1>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"> 
            <ngb-panel title="Notre société" >
                <ng-template ngbPanelContent>
                    ThéTipTop, SAS “Société par Actions Simplifiée” au capital social de 10 000€. <br/>
                    <strong>RCS Paris :</strong> 35794504200033 <br/>
                    <strong>Responsable éditorial :</strong>  ANNE-CLAIRE PICHET <br/>
                    <strong>Domaine d’expertise :</strong> Commerce de thé spécialisé <br/>
                    <strong>Adresse :</strong> 7 rue Keller, 75011 Paris <br/>
                    <strong>Télephone :</strong> 01 22 45 40 36 <br/>
                    <strong>Email :</strong> contact@tiptop.com <br/>
                   
                </ng-template>
              </ngb-panel>  
            </ngb-accordion>
        
     
            <ngb-accordion  #acc="ngbAccordion"  activeIds="ngb-panel-1" > 
                
            <ngb-panel title="Adresse" >
                <ng-template ngbPanelContent>
                    Société OVH (ovh.com), société immatriculée au registre du commerce <br/>
                    <strong>Adresse :</strong> 2 rue Kellermann – 59100 Roubaix – France <br/>
                    <strong>Télephone :</strong> 09 72 10 10 07 <br/>
                    <strong>Siret  :</strong> 510 909 80700024 <br/>
                </ng-template>
              </ngb-panel>  
            </ngb-accordion>
       
    </div><br/><br/>
