<div class="container"><br/><br/><br/>
    <h1>CGI</h1>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"> -->
    <ngb-panel title="Application des CGV et objet du Site">
        <ng-template ngbPanelContent>
            La société ThéTipTop, Société par Actions Simplifiée, immatriculée au RCS de Paris sous le numéro 712 755 676 et dont le siège est situé rue Keller 75011, Paris, 
            crée et commercialise les produits de la marques ThéTipTop. <br/>
            Les présentes conditions générales de vente régissent de la vente de nos produits sur le Site, vous devez en prendre connaissance avant toute utilisation du Site.
             Dans le cas où vous ne souhaiteriez pas accepter tout ou partie de celles-ci, il vous est demandé de renoncer à tout usage du Site. <br/>

            En conséquence, le fait d’acheter un produit ThéTipTop implique l’adhésion immédiate de l’acheteur aux Conditions Générales de Vente. <br/>

            Le fait pour ThéTipTop ne pas se prévaloir à un moment donné de l’une quelconque des clauses des Conditions Générales de Vente et d’Utilisation,
             ne pourra en aucun cas être interprété comme valant renonciation à se prévaloir ultérieurement de l’une quelconque desdites clauses.<br/>

            Vous reconnaissez que ces Conditions Générales de Vente et d’Utilisation constituent un accord complet et exclusif entre vous et ThéTipTop quant à 
            votre utilisation du Site.
        </ng-template>
      </ngb-panel>
    
        <ngb-panel title="Création d'un compte client">
            <ng-template ngbPanelContent>
                ThéTipTop vous offre la possibilité de créer votre compte client afin de pouvoir garder l’accès à votre historique et vos commandes actuelles. <br/>

               <br/> Pour faire cela, en utilisant le lien de connexion, vous aurez la possibilité de créer un compte client en suivant les instructions et en renseignant votre 
                adresse e-mail ainsi que les autres informations requises à la création du compte. Cliquez ensuite sur « Créer un compte ». <br/>

               <br/> Votre compte client sera alors créé et vous recevrez un e-mail de confirmation à l’adresse e-mail que vous aurez renseigné. <br/>

                <br/>En créant votre compte client vous reconnaissez avoir pris connaissance et accepter sans réserve les Conditions Générales de Vente et d’Utilisation 
                ainsi que la politique de confidentialité sur la protection des données personnelles.
                
            </ng-template>
          </ngb-panel>

        <ngb-panel title="Garantie des Produits">
            <ng-template ngbPanelContent>
                L’acheteur bénéficie de la garantie légale de conformité du bien au contrat, la garantie légale des vices cachés, la garantie commerciale (également appelée 
                garantie contractuelle). <br/>
                <br/>Les garanties légales s’appliquent en tout état de cause dans le respect des conditions qui les régissent alors que les garanties contractuelles sont 
                facultatives.<br/>
                <br/>Il appartient à l’acheteur de fournir à ThéTipTop toute justification quant aux anomalies ou vices. Aucun produit ne pourra être remboursé ou échangé 
                avant la réexpédition et réception de ThéTipTop. <br/>
                <br/>En cas de défaut de conformité, vous pouvez choisir entre la réparation et le remplacement du bien. Toutefois, le vendeur peut ne pas procéder selon le 
                choix de l’acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l’autre modalité, compte tenu de la valeur du bien ou de l’importance 
                du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l’acheteur.<br/>
                <br/>Le remboursement ne pourra être effectué que si le Produit est retourné dans un parfait état et dans son emballage d’origine. L’original de la facture 
                d’achat devra être retourné aussi. Tous Produits retournés, utilisés, incomplets ou endommagés ne peuvent faire l’objet d’un remboursement. <br/> 
            </ng-template>
          </ngb-panel>  

          <ngb-panel title="Service Client">
            <ng-template ngbPanelContent>
            Pour toute information sur les produits, événements ou autre, le Service Client est à votre disposition du lundi au jeudi, de 9h à 18h30, et de 9h à 16h30 le vendredi.<br/>
            <br/>Tél: 01 48 92 00 39 <br/>

            <br/> Adresse postale : <br/>

            ThéTipTop 

            Rue Keller, 75011 Paris <br/>

            <br/> Vous pouvez aussi nous contacter via le formulaire de contact. 
            </ng-template>
          </ngb-panel>  

          <ngb-panel title="Responsabilité">
            <ng-template ngbPanelContent>
                ThéTipTop fournit des informations sur les produits et autre (photos et textes) à titre indicatif et en l’état et ne sont en aucun cas contractuelles. <br/>

                Les produits proposés sur le Site sont conformes à la législation française en vigueur et aux normes applicables en France. 
           
            </ng-template>
          </ngb-panel>  

          <ngb-panel title="Droits de propriété intellectuelle">
            <ng-template ngbPanelContent>
                Tous les éléments (photos, noms de domaine, textes, logos commentaires) reproduits sur le Site font l’objet de droits d’auteur et de droits de propriété 
                intellectuelle pour le monde entier de ThéTipTop ou font l’objet d’une autorisation d’utilisation.  Toute reproduction totale ou partielle du Site est 
                donc strictement interdite. <br/>

               <br/> L’acheteur s’engage à ne pas utiliser les produits de manière à porter atteinte aux droits de notre société.
           
            </ng-template>
          </ngb-panel>  

          <ngb-panel title="Droit applicable et médiation">
            <ng-template ngbPanelContent>
                Les présentes CGV sont régies par et soumises au droit Français.  <br/>

                <br/> Sauf dispositions d’ordre public, tous litiges qui pourraient survenir dans le cadre de l’exécution des présentes CGV pourront avant toute 
                action judiciaire être soumis à l’appréciation de l’Editeur du Site en vue d’un règlement amiable. <br/>

                <br/>Il est expressément rappelé que les demandes de règlement amiable ne suspendent pas les délais ouverts pour intenter les actions judiciaires. 
                Sauf disposition contraire, d’ordre public, toute action judiciaire relative à l’exécution des présentes CGV devra être soumise à la compétence des 
                juridictions du ressort du lieu du domicile du défendeur. 
           
            </ng-template>
          </ngb-panel>  

          <ngb-panel title="Cookies">
            <ng-template ngbPanelContent>
                Les cookies sont de petits fichiers texte qui sont installés sur votre ordinateur ou votre périphérique lorsque vous visitez nos sites Web. <br/>

                <br/> Nous utilisons les cookies afin de rendre vos visites et vos achats sur nos sites plus efficaces. Les cookies nous permettent également d’améliorer la navigation
                 sur nos sites et de comprendre vos comportements d’achat. <br/>

                 <br/> Les cookies nous aident à recueillir des renseignements sur la façon dont vous utilisez notre site Web, mais nous ne conservons aucune information permettant
                  de vous identifier personnellement dans les données de nos cookies vous concernant. Nous enregistrons uniquement un identifiant de session unique qui nous aidera
                   à retrouver un profil d’utilisateur ainsi que vos préférences lors de votre prochaine visite. <br/>

                   <br/>Veuillez noter que si vous choisissez de bloquer nos cookies, certaines des fonctionnalités de nos sites Web seront désactivées 
                   (notamment des services tels que le panier d’achat, la gestion ou la personnalisation des commandes) et votre navigation risque également d’en être affectée. 
                   Si vous configurez les options de votre navigateur pour supprimer tous les cookies, vos préférences de navigation seront effacées à la fermeture de 
                   votre navigateur.
           
            </ng-template>
          </ngb-panel>  
    </ngb-accordion>
</div><br/><br/>
